<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Liste des auteurs</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Votre fichier CSS personnalisé -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div th:include="navbar :: navbar"></div>
<div class="container mt-5">
  <h2>Liste des auteurs</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Nationalité</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utilisation de Thymeleaf pour boucler sur la liste d'étudiants -->
    <tr th:each="auteur : ${auteurs}">
      <td th:text="${auteur.nom}"></td>
      <td th:text="${auteur.prenom}"></td>
      <td th:text="${auteur.nationalite}"></td>
    </tr>
    </tbody>
  </table>
  <div class="btn-group">
    <div class="row">
      <div class="col">
        <a class="btn btn-primary" th:href="@{/auteur/formulaire}" role="button">Ajouter Auteur</a>
        <a class="btn btn-primary" th:href="@{/home}" role="button">Retour</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JavaScript (jQuery inclus) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Votre fichier JavaScript personnalisé -->
<script src="/js/script.js"></script>

</body>

</html>
