<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Détail de l'étudiant</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container mt-5">
  <h2>Détail de l'étudiant</h2>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3>Nom et Prénom : <span th:text="${etudiant.nom + ' ' + etudiant.prenom}"></span></h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          <strong>Age : </strong> <span th:text="${etudiant.age}"></span>
        </p>
        <p class="card-text">
          <strong>Email: </strong> <span th:text="${etudiant.email}"></span>
        </p>
        <p class="card-text">
          <strong>Date d'entrée : </strong> <span th:text="${etudiant.dateEntreeEcole}"></span>
        </p>
        <p class="card-text">
          <strong>Année Scolaire : </strong> <span th:text="${etudiant.anneeScolaireActuelle}"></span>
        </p>
      </div>
    </div><br>
    <a class="btn btn-primary" th:href="@{/etudiant/liste}">Retour</a>
  </div>
</div>
</body>
</html>




</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>
